.header-action .mat-form-field.mat-form-field-appearance-fill {
  width: 100% !important;
}
table {
  width: 100%;
}
.en-alert {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 99;
}
.error {
  color: red;
}
