.dowload_file {
  visibility: hidden;
}
.mat-form-field.mat-form-field-appearance-fill {
  width: 100% !important;
}
.error {
  color: red;
  margin-top: -10px;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
.pdfscroller {
  display: none;
}
